body{
  background-image: url("../images/background.jpg");
  font-family: 'arial';
  color: #DAF7A6;
  text-align: left;

}

.container {
  background-color: #581845;
}

#name{
  padding-top: 15px;
  font-family: 'arial';
  color: #DAF7A6
}
.paragraph{
  font-family: 'arial';
  background-color: #581845;
  margin-bottom: 10px;
  margin-left: 10px;
  font: 35px;
  color: #DAF7A6;
}

.click{
  width:80px;
  height:80px;
}

.start {
  background-color: ##900C3F;
  color: #DAF7A6;
  font: 25px;
  margin-bottom: 50px;
}
.addition{
  font-size: 30px;
  color: #DAF7A6;
}
.total{
  font-size: 30px;
  color: #DAF7A6;
}